* {
  box-sizing: border-box;
  font-weight: 500;
}

body {
  background-color: #CCC7B9;
  color: #242424;
}

.App {
  text-align: center;
}

.input--btn {
}

li {
  list-style: none;
  padding: 16px 0;
}

input, .input--btn > button {
  height: 32px;
}

input {
  padding: 0 8px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  border: 1px solid #242424;
  border-right: none;
}

.task, .div--task--checkbox, .div--task--checkbox--done {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.div--task--checkbox, .div--task--checkbox--done {
  gap: 8px;
}

.div--task--checkbox--done {
  text-decoration: line-through;
}

.btn--add, .btn--re--add {
  width: 96px;
  outline: none;
  background-color: #AF7A6D;
  border: 1px solid #242424;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.btn--add:hover, .btn--re--add:hover {
  background-color: #AF7A7D;
}

.btn--down, .btn--up, .btn--delete, .btn--edit {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn--down {
  rotate: 180deg;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 50%;
}

.btn--up {
  background-color: rgba(0, 128, 0, 0.25);
  border-radius: 50%;
}

.div--btn {
  display: flex;
  gap: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
}

.logo {
  padding: 8px 0;
}

.logo, .socials {
  width: 144px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.github, .linkedin {
  width: 24px;
}

a:hover {
  scale: 1.15;
  transition: 0.4s;
}